<style type="text/css">
/** User Login **/
.login_form{
	background-color: rgba(255,255,255,0.64);
    padding: 13px 10px;
    border: 0.01em dashed rgba(114, 111, 228, 0.9);
}

.login_form {
    background-color: rgba(255, 255, 255, 0.64);
    padding: 20px;
    border: 0.01em solid rgba(0, 0, 0, 0.36);
    border-radius: 4px;
}

	.login_form form input[type="text"]{}

	.login_form form input[type="password"]{}

.login_form form input[type="text"], 
.login_form form input[type="password"],
.login_form form input[type="email"] {}

.login_form form input[type="submit"]{
	
}
/** End of User Login **/
</style>
<div class="login_form">
	<%= form_tag(:controller => 'st_user_sessions', :action => 'login_attempt',) do %>
		<%= text_field_tag :username_or_email, nil, :placeholder => "Username or Email" %><br/>
		<%= password_field_tag :login_password, nil, :placeholder => "Password" %><br/>
		<%= submit_tag("Log In") %>
		<%= link_to :Register, user_new_url %><br/>
	<% end %>
	<% if flash[:login_notice] %>
	<div id="notice"><%= flash[:login_notice] %></div>
	<% end %>
</div>