<style type="text/css">
/** Registration Form **/
.register_form{
	background-color: rgba(255,255,255,0.64);
    padding: 13px 10px;
    border: 0.01em solid rgba(0, 0, 0, 0.36);
    border-radius: 4px;
}

.register_form form{
    border-left: 0.3em double rgba(0,0,0,0.2);
    padding-left: 10px;
}
}

.register_form form input[type="text"]{}

.register_form form input[type="email"]{}

.register_form form input[type="password"]{}

/** End Registration Form **/
</style>
<div class="row register_form">
	<div class="col-lg-6">
		<div>
			<h3>Login or Register Now</h3>
			<p>
				Login to HPS and view your current Hostel Listings.
				Make changes to subscriptions and payments.
			</p>
			<p>
				Or Register for our service to help you find hostels near you.
				Compare hostels facilities and compare prices of hostels.
			</p>
			<p>
				Locate hostels on our maps and use it to know where exactly
				your hostel is located.
			</p>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="">
			<% if @user.errors.any? %>
			<ul class="Signup_Errors">
				<% for message_error in @user.errors.full_messages %>
				<li>* <%= message_error %></li>
				<% end %>
			</ul>
			<% end %>
			<%= form_for(:user, :url => {:controller => 'user', :action => 'create'}) do |f| %>
			<fieldset>
				<legend>Register</legend>
				<%= f.text_field :firstName, :placeholder=>"First Name", :required=>true%>
				<%= f.text_field :lastname, :placeholder=>"Last Name", :required=>true%>
				<%= f.text_field :email, :placeholder=>"Email", :required=>true%>
				<%= f.text_field :username, :placeholder=>"Choose a username", :required=>true%>
				<%= f.password_field :password, :placeholder=>"Password", :required=>true%>
				<%= f.password_field :password_confirmation, :placeholder=>"Confirm password", :required=>true%>
				<%= f.submit :Register %>
				<% if flash[:notice] %>
				<div id="notice"><%= flash[:notice] %></div>
				<% end %>
			</fieldset>
			<% end %>
		</div>
	</div>
</div>