<style type="text/css">
	.country_hostels{

	}

	.country_hostels .country{
		font-size: 20px;
	}

.country_hostels .hostels {
    border-left: 1px solid #DDD;
}

	.country_hostels .hostels div.hostel {
		padding: 0px;
	}

.country_hostels .hostels div.hostel {
    list-style-type: none;
    width: 31%;
    float: left;
    border: 1px solid #DDD;
    padding: 5px 7px;
    margin-top: 13px;
    margin-left: 13px;
    height: 217px;
}

	.country_hostels .hostels ul li div.description {}

.country_hostels .hostels div.hostel div.name {
    font-size: 15px;
    font-weight: bold;
}

</style>
<div class="container">
	<% for country in @countries%>
	<div class="row country_hostels" >
		<div class="col-lg-2 country">
			<%= country.name %>
		</div>
		<div class="col-lg-10 hostels">
			<div class="hostels">
			<% for hostel in @hostels %>
			<% city = City.find_by_id hostel.city_id %>
			<% if country.id == city.country_id %>
				<div class="hostel">
					<div class="name"><%= hostel.name_of_hostel %></div>
					<div class="description">
						<p>Country: <%= city.country.name %></p>
						<p>City: <%= city.name %></p>
						<p>Location: <%= hostel.location %></p>
						<% if hostel.description %>
						<p><%= hostel.description %></p>
						<% end %>
					</div>
				</div>
			<% end %>
				
			<% end %>
			</div>
		</div>
	</div>
	<hr style="width: 96%; margin: 20px auto;"/>
	<% end %>
</div>

